<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <title>New post</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>

<main>
    <div>
        <h2>New post</h2>
    </div>

    <div th:if="${post}" th:object="${post}">
        <div th:if="${post}">
            <a class="btn" th:href="@{/explorepage}">back</a>
        </div>
        <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>
        <div>
            <form class="border" th:action="@{/postnew}" method="post">
                <div class="oneinput saveButtonDiv">
                    <input type="submit" value="create" class="btn">
                </div>

                <div class="oneinput">
                    <label for="text" class="info">Text: </label>
                    <input type="text" id="text" class="border" placeholder="Text" th:field="*{text}" th:errorclass="fieldError">
                </div>

                <div class="oneinput">
                    <label for="location" class="info">Location: </label>
                    <input type="text" id="location" class="border" placeholder="Stad" th:field="*{location}" th:errorclass="fieldError">
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>