<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/register.css}" href="/css/register.css"/>
    <title>Login</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main class="mainForm">
    <div class="container">
        <form th:action="@{/user/login}" method="post">
            <div>
                <img th:src="@{/img/LogoFashTransparantBlack.png}" class="flexitem">
            </div>
            <div >
                <label for="name" >USERNAME: </label><br>
                <input type="text" id="name" name="username" required placeholder="ex:brentjehetventje">
            </div>
            <div >
                <label for="password">PASSWORD: </label><br>
                <input type="password" id="password" name="password" required placeholder="">
            </div>
            <div >
                <input type="submit" value="LOGIN" class="btn">
            </div>
            <div>
                <a href="/" class="cancel">cancel</a>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>