<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/register.css}" href="/css/register.css"/>
    <title>Login</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main class="mainForm">
    <div class="containerCss">
        <form th:action="@{/user/login}" method="post">
            <div>
                <img th:src="@{/img/LogoFashTransparantBlack.png}" class="fashLogo">
            </div>
            <div >
                <label for="name" >USERNAME: </label><br>
                <input class="inputCss" type="text" id="name" name="username" required placeholder="ex:brentjehetventje">
            </div>
            <div >
                <label for="password">PASSWORD: </label><br>
                <input class="inputCss" type="password" id="password" name="password" required placeholder="">
            </div>
            <div >
                <input type="submit" value="LOGIN" class="btn-dark borderBtn">
            </div>
            <div>
                <a href="/" class="cancel">cancel</a>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script th:replace="fragments/head_foot :: script"></script>
</body>
</html>