<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <title>Login</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<form th:action="@{/user/logout}" method="post">
    <h3>Logout?</h3>
    <div>
        <input type="submit" value="logout">
    </div>
    <div>
        <a href="/">cancel</a>
    </div>
</form>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>