<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
  <link rel="stylesheet" type="text/css" media="all"
        th:href="@{/css/posts.css}" href="/css/posts.css"/>
  <title>Messages</title>
  <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main sec:authorize="isAuthenticated()">
  <article th:each="convo : ${convos}">
    <a th:href="@{|/messages/${convo.getId()}|}">
      <h2 th:text="${convo.getConvoNaam()}"></h2>
    </a>
  </article>
</main>
<main sec:authorize="!isAuthenticated()">
  Niet aangemeld
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script th:replace="fragments/head_foot :: script"></script>
</body>
</html>