<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <title>Test</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
    <main class="gmain">
        <h3>Register here:</h3>
        <form th:action="@{|/register|}" th:object="${valid}" method="POST" enctype="multipart/form-data">
            <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>
            <div th:if="${error!=null}">
                <span th:text="${error.getDefaultMessage()}"></span>
            </div>
            <label for="firstName">Firstname:</label>
            <input type="text" id="firstName" th:field="*{first_name}" th:errorclass="fieldError">
            <label for="lastName">Lastname:</label>
            <input type="text" id="lastName" th:field="*{last_name}" th:errorclass="fieldError">
            <label for="Username">Username:</label>
            <input type="text" id="Username" th:field="*{username}" th:errorclass="fieldError">
            <label for="Password">Password: </label>
            <input type="password" id="Password" th:field="*{password}" th:errorclass="fieldError">
            <label for="image">Profile picture</label>
            <input type="file" name="image" id="image" accept="image/png, image/jpeg">
            <input type="submit" value="Register">
        </form>
    </main>

</body>