<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="headfrag">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
</head>

<header th:fragment="headerfrag">
    <nav th:fragment="navbar">
        <ul>
            <div id="myLinksPc">
                <!-- icons:  https://fontawesome.com/v4/icons/ -->
                <img class="imgNavbar" th:src="@{/img/LogoFashTransparantBlack.png}">
                <li th:if="${#httpServletRequest.requestURI.contains('explorepage')}"><a class="aselected" th:href="@{/explorepage}"><i class="fa fa-compass"></i> EXPLORE</a></li>
                <li th:unless="${#httpServletRequest.requestURI.contains('explorepage')}"><a th:href="@{/explorepage}"><i class="fa fa-compass"></i> EXPLORE</a></li>
                <li th:if="${#httpServletRequest.requestURI.contains('foryou')}"><a class="aselected" th:href="@{/foryoupage}"><i class="fa fa-fw fa-search"></i> FOR YOU</a></li>
                <li th:unless="${#httpServletRequest.requestURI.contains('foryou')}"><a th:href="@{/foryoupage}"><i class="fa fa-fw fa-search"></i> FOR YOU</a></li>
                <li th:if="${#httpServletRequest.requestURI.contains('profilepage')}" sec:authorize="hasAuthority('user')"><a class="aselected" th:href="@{/profilepage}"><i class="fa fa-fw fa-user"></i> PROFILE</a></li>
                <li th:unless="${#httpServletRequest.requestURI.contains('profilepage')}" sec:authorize="hasAuthority('user')"><a th:href="@{/profilepage}"><i class="fa fa-fw fa-user"></i> PROFILE</a></li>
                <li th:if="${#httpServletRequest.requestURI.contains('logout')}" sec:authorize="isAuthenticated()"><a class="aselected" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a></li>
                <li th:unless="${#httpServletRequest.requestURI.contains('logout')}" sec:authorize="isAuthenticated()"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a></li>
                <li th:if="${#httpServletRequest.requestURI.contains('login')}" sec:authorize="!isAuthenticated()">
                    <a class="aselected" href="/login"><i class="fa fa-fw fa-user"></i> LOGIN</a>
                </li>
                <li th:unless="${#httpServletRequest.requestURI.contains('login')}" sec:authorize="!isAuthenticated()">
                    <a href="/login"><i class="fa fa-fw fa-user"></i> LOGIN</a>
                </li>
                <li th:if="${#httpServletRequest.requestURI.contains('register')}" sec:authorize="!isAuthenticated()">
                    <a class="aselected" href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> REGISTER</a>
                </li>
                <li th:unless="${#httpServletRequest.requestURI.contains('register')}" sec:authorize="!isAuthenticated()">
                    <a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> REGISTER</a>
                </li>
                <li class="info"><a th:href="@{/infopage}"><i class="fa fa-info"></i></a></li>
            </div>
            <div id="myLinksPhone">
                <!-- icons:  https://fontawesome.com/v4/icons/ -->
                <li><a th:href="@{/infopage}"><i class="fa fa-fw fa-home"></i></a></li>
                <li><a th:href="@{/explorepage}"><i class="fa fa-compass"></i></a></li>
                <li><a th:href="@{/foryoupage}"><i class="fa fa-fw fa-search"></i></a></li>
                <li sec:authorize="hasAuthority('user')"><a th:href="@{/profilepage}"><i class="fa fa-fw fa-user"></i></a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login"><i class="fa fa-fw fa-user"></i></a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                </li>
                <li class="info"><a th:href="@{/infopage}"><i class="fa fa-info"></i></a></li>
            </div>
        </ul>
    </nav>
</header>

<footer th:fragment="footerfrag" class="footerCopyright">
    Copyright Elias Neel - Brent Budts - Matthew de Schepper - Ibrahim El Moudden
</footer>