<header th:fragment="headerfrag">
    <nav th:fragment="navbar">
        <ul>
            <div id="myLinksPc">
                <!-- icons:  https://fontawesome.com/v4/icons/ -->
                <li><a th:href="@{/infopage}"><i class="fa fa-fw fa-home"></i> INFO</a></li>
                <li><a th:href="@{/explorepage}"><i class="fa fa-compass"></i> EXPLORE</a></li>
                <li><a th:href="@{/foryoupage}"><i class="fa fa-fw fa-search"></i> FOR YOU</a></li>
                <li><a th:href="@{/profilepage}"><i class="fa fa-fw fa-user"></i> PROFILE</a></li>
                <li class="info"><a th:href="@{/infopage}"><i class="fa fa-info"></i></a></li>

            </div>
            <div id="myLinksPhone">
                <!-- icons:  https://fontawesome.com/v4/icons/ -->
                <li><a th:href="@{/infopage}"><i class="fa fa-fw fa-home"></i></a></li>
                <li><a th:href="@{/explorepage}"><i class="fa fa-compass"></i></a></li>
                <li><a th:href="@{/foryoupage}"><i class="fa fa-fw fa-search"></i></a></li>
                <li><a th:href="@{/profilepage}"><i class="fa fa-fw fa-user"></i></a></li>
                <li class="info"><a th:href="@{/infopage}"><i class="fa fa-info"></i></a></li>
            </div>
        </ul>
    </nav>
</header>

<footer th:fragment="footerfrag">
    Copyright Elias Neel - Brent Budts - Matthew de Schepper - Ibrahim El Moudden
</footer>