.sectionclothing{
    display:block;
}
.btnClothes{
    text-decoration: none;
    color: white;
    padding: 5px;
    background: #B685FF;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    width: 250px;
}
.btnClothes,btntPost:hover {
    background: #781FFF;
}
.clothepage{
    display: flex;
    justify-content: center;
    align-content: center;
}
.btntoPost{
    text-decoration: none;
    padding: 5px;
    background: #FAFF7F;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    width: available;
}
.containerCloth {
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #E8D7FF;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    margin-top: 0;
    width: 350px;
    height: auto;
}