@media only screen and (min-width: 930px) {
    .foryoumain{
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-wrap: wrap;
    }
    .foryoucard{
        flex: 0 1 auto;
        margin-top: 0%;
        width: 15%; !important;
        margin-left: 0%;!important;
        margin-right: 0%;!important;
    }
    .foryousection{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: left;
        width: 419px;
        margin-top: 50px;
        padding-bottom: 20px;
    }
}