main{
    margin-top: 100px;
}

header{
    width: 100%;
    border-top: 2px solid black;
    padding-bottom: 10px;
    color: #89B6A5;
    text-align: center;
    background-color: #FAFF7F;
    padding-top: 8px;
    position: fixed;
    bottom: 0;
}

#headerBalk{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #E8D7FF;
}

body{
    height: 70%;
    justify-content: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
main{
    text-align: center;
    margin-bottom: 100px;
}

footer{
    color: black;
    position: fixed;
    bottom: 0;
    height: 20px;
    padding-left: 10px;
    font-size: 12px;
    display: none;
}

p{
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

h2{
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

h3{
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

li{
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

nav li{
    display: inline-block;
    list-style: none;
}

ul{
    margin: 0px;
    padding: 0px;
}

nav a{
    color: black;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    margin: 0 5px;
    text-align: left;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

nav a:hover {
    background-color: rgb(211, 187, 250);
    color: #FAFF7F;
    /*
    andere optie
    background-color: rgba(19, 19, 0, 0.62);
    color: #E8D7FF;
    */
}

#myLinksPc{
    display: none;
    padding-left: 76.438px;
}

#myLinksPhone{
    padding-left: 76.438px;
}

.info {
    float: right;
    padding-right: 10px;
    display: none;
}

.imgNavbar {
    width: 57px;
    left: 0;
    position: absolute;
    margin-left: 2%;
    border-radius: 0px 0px 0px 0px;
}

.btn{
    color: white;
    margin-top: 20px;
    background: #B685FF;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    width: 120px;
}

.btn:hover {
    background: #781FFF;
}

.footerCopyright {
    display: none;
}

@media only screen and (min-width: 760px) {

    header{
        border-top: none;
        border-bottom: 2px solid black;
        position: fixed;
        top: 0;
        bottom: unset;
    }

    main{
        margin-top: 100px;
        margin-left: 25%;
        margin-right: 25%;
    }
    #myLinksPhone{
        display: none;
    }

    #myLinksPc{
        display: block;
    }

    footer{
        display: block;
    }

    #headerBalk{
        display: none;
    }
}

@media only screen and (min-width: 930px) {
    .info {
        display: block;
    }
}

@media only screen and (min-width: 1250px) {
    .footerCopyright {
        display: block;
    }
}

