.receivedMessage{
    text-align: left;
    margin-right: 50%;
    background-color: cornflowerblue;
    width: fit-content;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 5px;
}
.sentMessage{
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    background-color: lightslategray;
    width: fit-content;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 5px;
}
.messageForm{
    width: available;
    height: 100px;
}
.message{
    display: flex;
    width: available;
}
.messages{
    width: 100%;
}
.messagePic{
    width: auto;
    height: 25px;
}