.receivedMessage{
    text-align: left;
    margin-right: 50%;
    background-color: #89B6A5;
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
}
.sentMessage{
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    color:black;
    background-color:white;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
}
.messageForm{
    width: available;
    height: 100px;
}
.message{
    display: flex;
    width: available;
}
.messages{
    width: available;
    background-color: lightgray;
    height: available;
}
.messagePic{
    width: auto;
    height: 25px;
}
.messageAddUser{
    float: right;
    margin-right: 10%;
}