.receivedMessage{
    text-align: left;
    margin-right: 50%;
}
.sentMessage{
    text-align: right;
    margin-left: 50%;
}
.messageForm{
    width: available;
    height: 100px;
}
.message{
    width: available;
}
.messages{
    width: 100%;
    display: block;
}