.postCard{
    text-decoration: none;
}
.postDetails{
    display: grid;
    grid-template-areas: 'gpic' 'gdetails' 'gcomments';
    justify-content: center;
    align-content: center;
}
.sidePic{
    grid-area: gpic;
}
.postDetails{
    grid-area: gdetails;
}
.postComments{
    grid-area: gcomment;
}
@media only screen and (min-width: 760px) {
    .postDetails{
        display: grid;
        grid-template-areas: 'gpic gdetails' 'gcomments gcomments';
        justify-content: center;
        align-content: center;
    }
}