.noprofilepic {
    background-color: #FAFF7F;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px 0px;
}

/*nieuw post button on profilepage absolute so image won't shift*/
.nieuwpost {
    float: none;
    margin-left: 78%;
    margin-top: auto;
    margin-bottom: 10px;
}

/*algemene button voor volgen en volgers, etc*/
.followetcbtn {
    background-color: #89B6A5;
    border-radius: 8px;
    font-style: italic;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 7px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.followetcbtncolour {
    background-color: #E8D7FF;
}

/*follow button op iemand anders pagina*/
.followbtn {
    background-color: #E8D7FF;
    margin-right: 45px;
}

.hr-lines:after{
    content: " ";
    height: 2px;
    width: 100%;
    position: absolute;
    /* top: 43%; */
    left: 0;
    background: #89B6A5;
    z-index: -1;
}

.profileposts {
    padding-top: 10px;
}

.profileinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profilepic {
    width: 250px;
    border-radius: 40px;
    border: 2px solid black;
}

/*div waar alle buttons in zitten*/
.buttonsdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*buttons op 2de lijn*/
.clothesbtn {
    margin-top: 20px;
    flex: 1 0 50%;
}

/*om clothes button op hele breedte te zetten op iemand anders profilepage*/
.breed {
    flex: 1 0 100%;
}

/*buttons op 1ste lijn*/
.flex {
    flex: 1 0 50%;
}

/*de linkse buttons dichter naar center*/
.left {
    float: right;
    margin-right: 20px;
}

/*de rechtse buttons dichter naar center*/
.right {
    float: left;
}

@media only screen and (min-width: 760px) {
    .nieuwpost {
        position: absolute;
        right: 96.5px;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}