
.container {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #E8D7FF;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.mainForm {
    margin: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    font-family: "Arial Black";
    font-size: 14px;
}

.flexitem{
    max-width:100%;
    height:auto;
}

.cancel{
    margin: 5px;
    text-decoration: none;
}

input {
    background: #ecf0f3;
    padding: 10px;
    height: 20px;
    font-size: 14px;
    border-radius: 50px;
}

.error{
    margin: 15px;
    text-align: center;
}