<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/admin.css}" href="/css/admin.css"/>
    <title>Admin only</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<aside class="filterContainer">
    <div class="filters" name="showFilter">
        <h2>Filters: </h2>
        <form>
            <h3>Filter by user?</h3>
            <label for="noFilter" >No</label>
            <input type="radio" id="noFilter" name="filter" value="false" th:checked="${filtered == false || filtered == null}">
            <label for="yesFilter">Yes</label>
            <input type="radio" id="yesFilter" name="filter" value="true" th:checked="${filtered == true}">
            <input type="submit" value="search" th:if="${filtered == null || !filtered}">
        </form>
        <form th:if="${filtered!=null && filtered}">
            <label for="username">Search by user:</label>
            <input type="text" placeholder="eg. Elias" name="username" id="username">
            <input type="radio" value="true" name="filter" th:checked="${filtered == true}">
            <button type="submit">Zoek!</button>
        </form>
    </div>
    <div>
        <button class="btnFilter txt" onclick="showFilters()"></button>
    </div>
</aside>
<script>
    function showFilters() {
        var btn = document.getElementsByClassName("btnFilter")[0];
        var x = document.getElementsByClassName("filters")[0];
        console.log("function");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<main sec:authorize="hasAuthority('admin')">
    <article th:if="${filtered==null || !filtered}" class="adminPage">
        <section class="adminUsers">
            <h1>USERS</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>credit</th>
                    <th>save?</th>
                    <th>delete?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fashposter : ${fashposters}">
                    <td th:text="${fashposter.getId()}"></td>
                    <td th:text="${fashposter.getUsername()}"></td>
                    <td>
                        <form style="width:50px">
                            <input style="display: none" type="number" th:value="${fashposter.getId()}" name="id">
                            <input style="width: 50px;" type="number"
                                   th:value="${fashposter.getPost_allowance()}"
                                   name="postallow">
                            <button class="btnCss" style="width: 50px;" type="submit">save</button>
                        </form>
                    </td>
                    <td><a class="btnCss" th:href="@{|/deleteUser/${fashposter.getId()}|}">DELETE</a></td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="adminClothes">
            <h1>CLOTHES</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>delete?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${fashclothes}">
                    <td th:text="${item.getId()}"></td>
                    <td th:text="${item.getNaam()}"></td>
                    <td class="btn" th:href="@{|/deleteItem/${item.getId()}|}">DELETE</td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="adminPosts">
            <h1>POSTS</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>delete?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fashpost : ${fashposts}">
                    <td th:text="${fashpost.getId()}"></td>
                    <td th:text="${fashpost.getPoster().getUsername()}"></td>
                    <td><a class="btn" th:href="@{|/deletePost/${fashpost.getId()}|}">DELETE</a></td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="adminComments">
            <h1>COMMENTS</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>delete?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fashComment : ${comments}">
                    <td th:text="${fashComment.getId()}"></td>
                    <td th:text="${fashComment.getUser().getId()}"></td>
                    <td><a class="btn" th:href="@{|/deleteComment/${fashComment.getId()}|}">DELETE</a></td>
                </tr>
                </tbody>
            </table>
        </section>
    </article>
    <article th:if="${filtered!=null && filtered}" class="adminPage">
        <section class="adminClothes">
            <h1>CLOTHES</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>delete?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${fashclothes}">
                    <td th:text="${item.getId()}"></td>
                    <td th:text="${item.getNaam()}"></td>
                    <td class="btn" th:href="@{|/deleteItem/${item.getId()}|}">DELETE</td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="adminPosts">
            <h1>POSTS</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>delete?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fashpost : ${fashposts}">
                    <td th:text="${fashpost.getId()}"></td>
                    <td th:text="${fashpost.getPoster().getUsername()}"></td>
                    <td><a class="btn" th:href="@{|/deletePost/${fashpost.getId()}|}">DELETE</a></td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="adminComments">
            <h1>COMMENTS</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>delete?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fashComment : ${comments}">
                    <td th:text="${fashComment.getId()}"></td>
                    <td th:text="${fashComment.getUser().getId()}"></td>
                    <td><a class="btn" th:href="@{|/deleteComment/${fashComment.getId()}|}">DELETE</a></td>
                </tr>
                </tbody>
            </table>
        </section>
    </article>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>