<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/register.css}" href="/css/register.css"/>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<title th:text="${item.getNaam()}"></title>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main class="mainForm">
    <article>
        <section class="containerCss">
            <h2 th:text="${item.getNaam()}"></h2>
            <img th:src="@{|/p/image/${item.getPost().getId()}|}" style="max-width: 100%">
            <a th:href="@{|/postDetails/${item.getPost().getId()}|}"><input type="button" class="btnCss" th:value="|Gedeeld door: ${item.getPost().getPoster().getUsername()}|"></a><br>
            <a th:href="@{|/buyItem/${item.getId()}|}"><input type="button" class="btnCss" th:value="Koop"></a><br>
            <a th:href="@{|/saveItem/${item.getId()}|}" th:if="${fashuser!=null && !fashuser.getClothing_saved().contains(item)}"><input type="button" class="btnCss" th:value="Opslaan"></a><br>
            <a th:if="${fashuser!=null && fashuser.getClothing_saved().contains(item)}" th:href="@{|/removeItem/${item.getId()}|}"><input type="button" class="btnCss" th:value="|Verwijderen uit saved|"></a><br>
            <p sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Login</a> or <a th:href="@{/register}">Register</a> to save!<br>
            </p>
        </section>
    </article>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script th:replace="fragments/head_foot :: script"></script>
</body>
</html>