<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_foot :: headfrag">
</head>
<title th:text="${item.getNaam()}"></title>
<link rel="stylesheet" th:href="@{/css/clothing.css}">
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main>
    
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>