<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/clothing.css}" href="/css/clothing.css"/>
    <title>Clothing</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main>
    <article th:each="post:  ${fashposts}">
        Dit is een post
        <section th:each="clothing : ${post.getClothes()}">
            Dit is een kledingstuk
        </section>
    </article>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>