<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_foot :: headfrag">
</head>
<title th:text="${item.getNaam()}"></title>
<link rel="stylesheet" th:href="@{/css/clothing.css}">
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main>
    <article>
        <section class="sectionclothing">
            <h2 th:text="${item.getNaam()}"></h2>
            <a class="btn" th:text="|Gedeeld door: ${item.getPost().getPoster().getUsername()}|" th:href="@{|/postDetails/${item.getPost().getId()}|}"></a>
            <a class="btn" th:href="@{|/buyItem/${item.getId()}|}">Koop!</a>
            <a th:if="${fashuser!=null && !fashuser.getClothing_saved().contains(item)}" class="btn" th:href="@{|/saveItem/${item.getId()}|}">Opslaan!</a>
            <a th:if="${fashuser!=null && fashuser.getClothing_saved().contains(item)}" class="btn" th:href="@{|/removeItem/${item.getId()}|}">Verwijderen uit lijst</a><br>

            <a th:if="${fashuser==null}" class="btn" th:href="@{/login}">Login</a> or <a th:if="${fashuser==null}" class="btn" th:href="@{/register}">Register</a> to save!
        </section>
    </article>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>