<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/clothing.css}" href="/css/clothing.css"/>
    <title>Clothing</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main class="clothepage">
    <article class="containerCloth" th:each="post:  ${fashposts}">
        <a th:href="@{|/profilepage/${user.getId()}|}">
            <h1 class="btntoPost" th:text="${user.getUsername()}"></h1>
        </a>
        <a th:href="@{|/postDetails/${post.getId()}|}">
            <h2 class="btntoPost" th:text="${post.getLocation()}"></h2>
        </a>
        <section th:each="clothing : ${post.getClothes()}">
            <a th:href="@{|/clothingdetail/${clothing.getId()}|}">
                <h2 class="btnClothes" th:text="${clothing.getNaam()}"></h2>
            </a>
        </section>
    </article>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>