<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/register.css}" href="/css/register.css"/>
    <title>New post</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>

<main class="mainForm">
    <div class="container containerReg">
        <div>
            <img th:src="@{/img/LogoFashTransparantBlack.png}" class="fashLogo">
        </div>

    <div>
        <h2>New post :</h2>
    </div>

        <div
        sec:authorize="!isAuthenticated()">
            <p>Gelieve eerst in te loggen om een post aan te maken</p>
        <a href="/login"><i class=btn></i> LOGIN</a><br>
            <p>Nog geen account</p>
            <a href="/register"><i class=btn></i> REGISTER</a>
        </div>

        <div sec:authorize="isAuthenticated()">
        <form th:action="@{|/postnew|}" th:object="${valid}" method="post" enctype="multipart/form-data">
            <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>

            <label for="text">Tekst:</label><br>
            <input type="text" id="text" placeholder="schrijf iets" th:field="*{text}" th:errorclass="fieldError"><br><br>
            <div id="newClothing" th:field="*{clothes}">
                <label for="type">Type:</label>
                <input id="type" type="text" th:field="*{clothes[0].type}">
                <label for="name">Name:</label>
                <input id="name" type="text" th:field="*{clothes[0].naam}">
                <label for="price">Price:</label>
                <input id="price" type="number" step="0.01" th:field="*{clothes[0].prijs}">
                <label for="link">Link to shop:</label>
                <input id="link" type="text" th:field="*{clothes[0].linkShop}">
                    <label for="type1">Type:</label>
                    <input id="type1" type="text" th:field="*{clothes[1].type}">
                    <label for="name1">Name:</label>
                    <input id="name1" type="text" th:field="*{clothes[1].naam}">
                    <label for="price1">Price:</label>
                    <input id="price1" type="number" step="0.01" th:field="*{clothes[1].prijs}">
                    <label for="link1">Link to shop:</label>
                    <input id="link1" type="text" th:field="*{clothes[1].linkShop}">
            </div>
            <button type="button"  onclick="createNewElement()">New clothing Item</button>
            <label for="image">Upload outfit :</label><br>
            <input type="file" name="image" id="image" accept="image/png, image/jpeg"><br>
            <input type="submit" value="create" class="btn"><br>
            <div>
                <a th:href="@{/explorepage}" class="cancel">cancel</a>
            </div>
        </form>
        </div>
    </div>
</main>
<script th:inline="javascript">
    function createNewElement() {
        // First create a DIV element.
        let counter = 2;
        let newClothing = document.createElement('div');

        // Then add the content (a new input box) of the element.
        newClothing.innerHTML = `                <label for="type">Type:</label>
                <input id="type" type="text" name="clothes[${counter}].type">
                <label for="name">Name:</label>
                <input id="name" type="text" name="clothes[${counter}].naam">
                <label for="price">Price:</label>
                <input id="price" type="number" step="0.01" name="clothes[${counter}].prijs">
                <label for="link">Link to shop:</label>
                <input id="link" type="text" name="clothes[${counter}].linkShop">`;

        // Finally put it where it is supposed to appear.
        document.getElementById("newClothing").appendChild(newClothing);
        counter++;
    }
</script>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>