<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/register.css}" href="/css/register.css"/>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>New post</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>

<main class="mainForm">
    <div class="containerCss">
        <div>
            <img th:src="@{/img/LogoFashTransparantBlack.png}" class="fashLogo">
        </div>

        <div>
            <h2>New post :</h2>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <p>Gelieve eerst in te loggen om een post aan te maken</p>
            <a href="/login"><i class="btnCss"></i> LOGIN</a><br>
            <p>Nog geen account</p>
            <a href="/register"><i class="btnCss"></i> REGISTER</a>
        </div>

        <div sec:authorize="isAuthenticated()">
        <form th:action="@{|/postnew|}" th:object="${valid}" method="post" enctype="multipart/form-data">
            <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>

            <label for="text">Tekst:</label><br>
            <input class="inputCss" type="text" id="text" placeholder="schrijf iets" th:field="*{text}" th:errorclass="fieldError" required="required"><br>
            <label for="locatie">Locatie:</label><br>
            <input class="inputCss" type="text" name="locatie" id="locatie" th:field="*{location}" required="required"><br>
            <div id="newClothing" th:field="*{clothes}">
                <input type="button" class="btnCss" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" value="Clothing Item 1"><br>
                <div class="collapse" id="collapseExample">
                    <label for="type">Type:</label><br>
                    <select name="type" id="type" placeholder="Kies een type!" th:field="*{clothes[0].type}" required>
                        <option th:each="t : ${types}" th:value="${t}" th:text="${t}"></option>
                    </select><br>
                    <label for="name">Name:</label><br>
                    <input class="inputCss" id="name" type="text" th:field="*{clothes[0].naam}" required="required"><br>
                    <label for="price">Price:</label><br>
                    <input class="inputCss" id="price" type="number" step="0.01" th:field="*{clothes[0].prijs}" required="required"><br>
                    <label for="link">Link to shop:</label><br>
                    <input class="inputCss" id="link" type="text" th:field="*{clothes[0].linkShop}" required="required"><br>
                </div>
            </div>
            <br>
            <select name="style" placeholder="Kies een stijl!" th:field="*{stijl}" required>
                <option th:each="s : ${styles}" th:value="${s}" th:text="${s}"></option>
            </select><br>
            <br>
            <button type="button"  onclick="createNewElement()">New clothing Item</button><br>

            <label for="image">Upload outfit :</label><br>
            <input type="file" name="image" id="image" accept="image/png, image/jpeg" required="required"><br>
            <input type="submit" value="create" class="btn-dark borderBtn"><br>
            <div>
                <a th:href="@{/explorepage}" class="cancel">cancel</a>
            </div>
        </form>
        </div>
    </div>
</main>
<script th:inline="javascript">
    let counter = 1;
    function createNewElement() {
        // First create a DIV element.
        var types = [[${types}]];
        let newClothing2 = document.createElement('div');
        let item = counter+1;
        console.log("//////////////////////////////////////////////////////////////////////" + types);
        // Then add the content (a new input box) of the element.
        newClothing2.innerHTML = ` <input type="button" class="btnCss" data-toggle="collapse" href="#collapseExample${counter}" role="button" aria-expanded="false" aria-controls="collapseExample" value="Clothing Item ${item}">
                <div class="collapse" id="collapseExample${counter}">
                    <label for="type">Type:</label><br>
                    <div id="selectList${counter}">
                    </div>
                    <label for="name">Name:</label><br>
                    <input class="inputCss" id="name" type="text" name="clothes[${counter}].naam"><br>
                    <label for="price">Price:</label><br>
                    <input class="inputCss" id="price" type="number" step="0.01" name="clothes[${counter}].prijs"><br>
                    <label for="link">Link to shop:</label><br>
                    <input class="inputCss" id="link" type="text" name="clothes[${counter}].linkShop"><br>
                </div>`;

        // Finally put it where it is supposed to appear.
        document.getElementById("newClothing").appendChild(newClothing2);

        const createElementPlus = (type, options = {}) => Object.assign(document.createElement(type), options);

        const newClothing = document.createElement('div');

        const select = createElementPlus("select", {
            name: `clothes[${counter}].type`,
            id: `select-type-${counter}`,
            placeholder: "Kies een type!",
            require: true,
        });
        // The bit you were originally interested in
        select.append(...types.map(type => createElementPlus("option", {textContent: type})));

        newClothing.append(select);
        document.body.append(newClothing);
        document.getElementById(`selectList${counter}`).appendChild(newClothing);
        counter++;
    }
</script>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>