<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/register.css}" href="/css/register.css"/>
    <title>Error</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main class="error">
    <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
    <h1>Oeps!</h1>
    <p>Er is iets misgegaan.</p>
    <p><a href="/">Klik hier!</a> om terug te gaan naar de homepage</p>
</main>

<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script th:replace="fragments/head_foot :: script"></script>
</body>
</html>