<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Explore</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<aside>
    <div class="dropdown filterContainer position-fixed">
        <input type="button" class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" value="Filters">
        <div class="collapse" id="collapseExample">
            <form class="card card-body scroll">
                <h3>Style</h3>
                <select name="style" placeholder="Kies een stijl!">
                    <option value="">Geen</option>
                    <option value="Modern">Modern</option>
                    <option value="Klassiek">Klassiek</option>
                    <option value="Goth">Goth</option>
                </select>
                <h3>Filter by location?</h3>
                <input type="radio" id="noClose" name="closeby" value="no" th:checked="${closeby == false || closeby == null}">
                <label for="noClose" >No</label>
                <input type="radio" id="yesClose" name="closeby" value="yes" th:checked="${closeby == true}">
                <label for="yesClose">Yes</label><br>
                <label for="minprijs">Minimum:</label><br>
                <input type="number" min="0" name="minPrijs" placeholder="0" id="minprijs"><br>
                <label for="maxprijs">Maximum:</label><br>
                <input type="number" min="0" name="maxPrijs" placeholder="0" id="maxprijs"><br>
                <input type="hidden" name="latitude" id="latitude" th:value="${latitude}">
                <input type="hidden" name="longitude" id="longitude" th:value="${longitude}">
                <input class="btn-dark borderBtn" type="submit" value="search">
            </form>
        </div>
    </div>

</aside>
<main>
    <div class="postCardDiv" th:each="fashUser : ${fashUsers}">
        <a class="postCard" th:if="${fashUser.getLastPost()!=null}" th:href="@{|/postDetails/${fashUser.getLastPost().getId()}}">
            <section class="sectionclass">
                <form class="linktoprofilepage" method="get" th:action="@{|/profilepage/${fashUser.getId()}|}">
                    <button class="linktoprofilepagebtn" type="submit">
                        <img class="exploreprofilepic" th:src="|/u/image/${fashUser.getId()}|">
                        <h1 class="sectionrows name" th:text="${fashUser.getUsername()}"></h1>
                    </button>
                </form>
                <div class="buttonsdiv formbtn" th:if="${curUser !=null && curUser.following.contains(fashUser)}">
                    <form method="get" th:action="@{|/follow/${fashUser.getId()}|}">
                        <button type="submit" class="bttnExplore section">Unfollow</button><br>
                    </form>
                </div>
                <div class="buttonsdiv formbtn" th:unless="${curUser!=null && curUser.following.contains(fashUser)}">
                    <form method="get" th:action="@{|/follow/${fashUser.getId()}|}">
                        <button type="submit" class="bttnExplore section">Follow</button><br>
                    </form>
                </div>
                <article>
                    <img class="postpic" th:src="|/p/image/${fashUser.getLastPost().getId()}|">
                </article>
                <strong><p class="sectionbioname" th:text="${fashUser.getUsername()}"></p></strong>
                <p class="sectionbiotext"th:text="${fashUser.getLastPost().getText()}"></p>
                <div class="commentsothers" th:if="${fashUser.getLastPost().getOneComment()}">
                    <form method="get" th:action="@{|/profilepage/${fashUser.getLastPost().getOneComment().getUser().getId()}|}">
                        <button class="linktoprofilepagebtn" type="submit">
                            <div th:if="${fashUser.getLastPost().getOneComment().getUser().getProfilePic()}">
                                <img class="exploreprofilepic commentpic" th:src="|/u/image/${fashUser.getLastPost().getOneComment().getUser().getId()}|">
                            </div>
                            <div th:unless="${fashUser.getLastPost().getOneComment().getUser().getProfilePic()}">
                                <i class="noprofilepic fa fa-fw fa-user"></i>
                            </div>
                            <strong><p class="sectionbioname" th:text="${fashUser.getLastPost().getOneComment().getUser().getUsername()}"></p></strong>
                        </button>
                    </form>
                    <p th:if="${fashUser.getLastPost().getOneComment()!=null}" class="sectionbiotext"th:text="${fashUser.getLastPost().getOneComment().getText()}"></p>
                </div>
            </section>
        </a>
        <section class="sectioncommentexplore" sec:authorize="isAuthenticated()">
            <form>
                <input type="hidden" name="id" th:value="${fashUser.getLastPost().getId()}">
                <input required="required" class="border commenttext" type="text" name="commentText" placeholder="Jouw comment">
                <button type="submit" class="btnCss commentbutton bttnExplore section">Plaatsen</button><br>
            </form>
        </section>
    </div>
    <button class="btn-dark btn" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</main>
<script type="text/javascript">
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            document.getElementById("longitude").value = position.coords.longitude;
            document.getElementById("latitude").value = position.coords.latitude;
        });
    } else {
        document.getElementById("longitude").value = null;
        document.getElementById("latitude").value = null;
    }
</script>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script>
    //Om de button te krijgen
    var mybutton = document.getElementById("myBtn");

    // als de gebruiker 20px scrollt naar beneden, dan is de button zichtbaar
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // als de gebruiker op de button klikt, dan wordt er gescrollt naar de top van de pagina
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // de title van de pagina verkrijgen en doorsturen naar het id 'titlebalk' in de head/foot template
    document.getElementById("titlebalk").innerHTML = document.title;

    //als de pagina terug herladen wordt via teruggaan functie in internet, dan herstelt die de scroll positie
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</body>
</html>