<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/posts.css}" href="/css/posts.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/hide_navbar.css}" href="/css/hide_navbar.css"/>
    <title>Explore</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<aside>
    <div class="dropdown filterContainer">
        <input type="button" class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" value="Filters">
        <div class="collapse" id="collapseExample">
            <form class="card card-body">
                <h3>Style</h3>
                <select name="style" placeholder="Kies een stijl!">
                    <option value="">Geen</option>
                    <option value="Modern">Modern</option>
                    <option value="Klassiek">Klassiek</option>
                    <option value="Goth">Goth</option>
                </select>
                <h3>Filter by location?</h3>
                <input type="radio" id="noClose" name="closeby" value="no" th:checked="${closeby == false || closeby == null}">
                <label for="noClose" >No</label>
                <input type="radio" id="yesClose" name="closeby" value="yes" th:checked="${closeby == true}">
                <label for="yesClose">Yes</label><br>
                <label for="minprijs">Minimum:</label><br>
                <input type="number" min="0" name="minPrijs" placeholder="0" id="minprijs"><br>
                <label for="maxprijs">Maximum:</label><br>
                <input type="number" min="0" name="maxPrijs" placeholder="0" id="maxprijs"><br>
                <input type="hidden" name="latitude" id="latitude" th:value="${latitude}">
                <input type="hidden" name="longitude" id="longitude" th:value="${longitude}">
                <input class="btnCss" type="submit" value="search">
            </form>
        </div>
    </div>

</aside>
<main>
    <div class="postCardDiv" th:each="fashUser : ${fashUsers}">
        <a class="postCard" th:if="${fashUser.getLastPost()!=null}" th:href="@{|/postDetails/${fashUser.getLastPost().getId()}}">
            <section class="sectionclass">
                <form class="linktoprofilepage" method="get" th:action="@{|/profilepage/${fashUser.getId()}|}">
                    <button class="linktoprofilepagebtn" type="submit">
                        <img class="exploreprofilepic" th:src="|/u/image/${fashUser.getId()}|">
                        <h1 class="sectionrows name" th:text="${fashUser.getUsername()}"></h1>
                    </button>
                </form>
                <form class="formbtn" method="get" th:action="@{|/follow/${fashUser.getId()}|}">
                    <button type="submit" class="bttnExplore section">Follow</button>
                </form>
                <article>
                    <img class="postpic" th:src="|/p/image/${fashUser.getLastPost().getId()}|">
                </article>
                <strong><p class="sectionbioname" th:text="${fashUser.getUsername()}"></p></strong>
                <p class="sectionbiotext"th:text="${fashUser.getLastPost().getText()}"></p>
                <div class="commentsothers" th:if="${fashUser.getLastPost().getOneComment()}">
                    <div th:if="${fashUser.getProfilePic()}">
                        <img class="exploreprofilepic commentpic" th:src="|/u/image/${fashUser.getId()}|">
                    </div>
                    <div th:unless="${fashUser.getProfilePic()}">
                        <i class="noprofilepic fa fa-fw fa-user"></i>
                    </div>
                    <strong><p class="sectionbioname" th:text="${fashUser.getLastPost().getOneComment().getUser().getUsername()}"></p></strong>
                    <p th:if="${fashUser.getLastPost().getOneComment()!=null}" class="sectionbiotext"th:text="${fashUser.getLastPost().getOneComment().getText()}"></p>
                </div>
            </section>
        </a>
        <section class="sectioncommentexplore" sec:authorize="isAuthenticated()">
            <form>
                <input type="hidden" name="id" th:value="${fashUser.getLastPost().getId()}">
                <input required="required" class="border commenttitle" name="commentTitle" placeholder="Titel">
                <input required="required" class="border commenttext" type="text" name="commentText" placeholder="Jouw comment">
                <button type="submit" class="btnCss commentbutton">Plaatsen</button><br>
            </form>
        </section>
    </div>
    <button class="bttnExplore" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</main>
<script type="text/javascript">
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            document.getElementById("longitude").value = position.coords.longitude;
            document.getElementById("latitude").value = position.coords.latitude;
        });
    } else {
        document.getElementById("longitude").value = null;
        document.getElementById("latitude").value = null;
    }
</script>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script>
    //Om de button te krijgen
    var mybutton = document.getElementById("myBtn");

    // als de gebruiker 20px scrollt naar beneden, dan is de button zichtbaar
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // als de gebruiker op de button klikt, dan wordt er gescrollt naar de top van de pagina
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // de title van de pagina verkrijgen en doorsturen naar het id 'titlebalk' in de head/foot template
    document.getElementById("titlebalk").innerHTML = document.title;

    //als de pagina terug herladen wordt via teruggaan functie in internet, dan herstelt die de scroll positie
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</body>
</html>