<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/profile.css}" href="/css/profile.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/hide_navbar.css}" href="/css/hide_navbar.css"/>
    <title>For you</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<aside>
    <div class="dropdown filterContainer position-fixed">
        <button onclick="filterBTN()" type="button" class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample" id="btnFilters">+</button>
        <div class="collapse" id="collapseExample">
            <form class="card card-body scroll">
                <h3>Style</h3>
                <select name="style" placeholder="Kies een stijl!">
                    <option th:value="${null}" th:text="Alle"></option>
                    <option th:each="s : ${styles}" th:value="${s}" th:text="${s}"></option>
                </select>
                <label for="minprijs">Minimum:</label>
                <input th:value="${minFilter}" type="number" min="0" name="minPrijs" placeholder="0" id="minprijs">
                <label for="maxprijs">Maximum:</label>
                <input th:value="${maxFilter}" type="number" min="0" name="maxPrijs" placeholder="0" id="maxprijs">
                <input class="btn btn-dark borderBtn" type="submit" value="Zoek!">
            </form>
        </div>
    </div>
</aside>
<main sec:authorize="!isAuthenticated()">
    <div>
        Gelieve eerst in te loggen<br>
        <a href="/login">
            <button class="btnCss">
                LOGIN
            </button>
        </a>
        <br>
        Nog geen account?<br>
        <a href="/register">
            <button class=btnCss>
                REGISTER
            </button>
        </a>
    </div>
</main>
<main sec:authorize="isAuthenticated()" class="foryoumain">
    <div class="postsprofilepage">
        <div id="list">
            <div class="postCardDivProfile" th:each="post : ${allposts}">
                <div class="boxposts">
                    <a class="postCard" th:if="${post!=null}" th:href="@{|/postDetails/${post.getId()}}">
                        <section class="sectionclass">
                            <img class="exploreprofilepic" th:src="|/u/image/${post.getPoster().getId()}|">
                            <h1 class="sectionrows name" th:text="${post.getPoster().getUsername()}"></h1>
                            <h3 class="sectionrows"><i class="fa fa-map-marker" th:text="${post.getLocation()}"></i></h3>
                            <article class="imgarticle">
                                <img class="postpic" th:src="|/p/image/${post.getId()}|">
                            </article>
                            <strong><p class="sectionbioname" th:text="${post.getPoster().getUsername()}"></p></strong>
                            <p class="sectionbiotext" th:text="${post.getText()}"></p>
                            <div class="commentsothers" th:if="${post.getOneComment()}">
                                <form method="get" th:action="@{|/profilepage/${post.getOneComment().getUser().getId()}|}">
                                    <button class="linktoprofilepagebtn" type="submit">
                                        <div th:if="${post.getOneComment().getUser().getProfilePic()}">
                                            <img class="exploreprofilepic commentpic" th:src="|/u/image/${post.getOneComment().getUser().getId()}|">
                                        </div>
                                        <div th:unless="${post.getOneComment().getUser().getProfilePic()}">
                                            <i class="noprofilepic fa fa-fw fa-user"></i>
                                        </div>
                                        <strong><p class="sectionbioname" th:text="${post.getOneComment().getUser().getUsername()}"></p></strong>
                                    </button>
                                </form>
                                <p class="sectionbiotext" th:text="${post.getOneComment().getText()}"></p>
                            </div>
                        </section>
                    </a>
                    <section class="sectioncommentexplore">
                        <form>
                            <input type="hidden" name="postId" th:value="${post.getId()}">
                            <input required="required" class="inputCss" type="text" name="commentText" placeholder="Jouw comment">
                            <button type="submit" class="followetcbtnpurple">Plaatsen</button><br>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <button class="btn-dark btn" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script>
    //Om het plusje in een minnetje te zetten en omgekeerd
    function filterBTN(){
        var btnFilters=document.getElementById("btnFilters");
        if(btnFilters.innerText=="+"){
            btnFilters.innerText="-";
        }
        else {
            btnFilters.innerText="+";
        }
    };

    //Om de button te krijgen
    var mybutton = document.getElementById("myBtn");

    // als de gebruiker 20px scrollt naar beneden, dan is de button zichtbaar
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // als de gebruiker op de button klikt, dan wordt er gescrollt naar de top van de pagina
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // de title van de pagina verkrijgen en doorsturen naar het id 'titlebalk' in de head/foot template
    document.getElementById("titlebalk").innerHTML = document.title;
</script>
</body>
</html>