<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/posts.css}" href="/css/posts.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/hide_navbar.css}" href="/css/hide_navbar.css"/>
    <title>For you</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<aside>
    <div class="dropdown filterContainer position-fixed">
        <input type="button" class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample" value="Filters">
        <div class="collapse" id="collapseExample">
            <form class="card card-body scroll">
                <h3>Style</h3>
                <select name="style" placeholder="Kies een stijl!">
                    <option th:selected="${stijlFilter==null}" value="">Alle</option>
                    <option th:selected="${stijlFilter!= null && stijlFilter.equals('Modern')}" value="Modern">Modern</option>
                    <option th:selected="${stijlFilter!= null && stijlFilter.equals('Klassiek')}" value="Klassiek">Klassiek</option>
                    <option th:selected="${stijlFilter!= null && stijlFilter.equals('Goth')}" value="Goth">Goth</option>
                </select>
                <label for="minprijs">Minimum:</label>
                <input type="number" min="0" name="minPrijs" placeholder="0" id="minprijs">
                <label for="maxprijs">Maximum:</label>
                <input type="number" min="0" name="maxPrijs" placeholder="0" id="maxprijs">
                <input class="btnCss" type="submit" value="search">
            </form>
        </div>
    </div>
</aside>
<main sec:authorize="!isAuthenticated()">
    <div>
        Gelieve eerst in te loggen<br>
        <a href="/login">
            <button class="btnCss">
                LOGIN
            </button>
        </a>
        <br>
        Nog geen account?<br>
        <a href="/register">
            <button class=btnCss>
                REGISTER
            </button>
        </a>
    </div>
</main>
<main sec:authorize="isAuthenticated()">
    <div class="postCardDiv" th:each="fashPost : ${allposts}">
        <a class="postCard" th:href="@{|/postDetails/${fashPost.getId()}}">
            <section class="sectionclass">
                <form class="linktoprofilepage" method="get"
                      th:action="@{|/profilepage/${fashPost.getPoster().getId()}|}">
                    <button class="linktoprofilepagebtn" type="submit">
                        <img class="exploreprofilepic" th:src="|/u/image/${fashPost.getPoster().getId()}|">
                        <h1 class="sectionrows name" th:text="${fashPost.getPoster().getUsername()}"></h1>
                    </button>
                </form>
                <form class="formbtn" method="get" th:action="@{|/follow/${fashPost.getPoster().getId()}|}">
                    <button type="submit" class="bttnExplore section">Unfollow</button>
                </form>
                <article>
                    <img class="postpic" th:src="|/p/image/${fashPost.getId()}|">
                </article>
                <strong><p class="sectionbioname" th:text="${fashPost.getPoster().getUsername()}"></p></strong>
                <p class="sectionbiotext" th:text="${fashPost.getText()}"></p>
                <!--                <strong><p class="sectionbiolikes"th:text="|${fashPost.getLikes()} likes|"></p></strong>-->
                <div class="commentsothers" th:if="${fashPost.getOneComment()}">
                    <div th:if="${fashPost.getOneComment().getUser().getId()}">
                        <img class="exploreprofilepic commentpic"
                             th:src="|/u/image/${fashPost.getOneComment().getUser().getId()}|">
                    </div>
                    <div th:unless="${fashPost.getOneComment().getUser().getId()}">
                        <i class="noprofilepic fa fa-fw fa-user"></i>
                    </div>
                    <strong><p class="sectionbioname" th:text="${fashPost.getOneComment().getUser().getUsername()}"></p>
                    </strong>
                    <p th:if="${fashPost.getOneComment()!=null}" class="sectionbiotext"
                       th:text="${fashPost.getOneComment().getText()}"></p>
                </div>
            </section>
        </a>
        <section class="sectioncommentexplore" sec:authorize="isAuthenticated()">
            <form>
                <input type="hidden" name="postId" th:value="${fashPost.getId()}">
                <input required="required" class="border commenttext" type="text" name="commentText"
                       placeholder="Jouw comment">
                <button type="submit" class="btnCss commentbutton">Plaats comment!</button>
            </form>
        </section>
    </div>
    <button class="bttnExplore" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script>
    //Om de button te krijgen
    var mybutton = document.getElementById("myBtn");

    // als de gebruiker 20px scrollt naar beneden, dan is de button zichtbaar
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // als de gebruiker op de button klikt, dan wordt er gescrollt naar de top van de pagina
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // de title van de pagina verkrijgen en doorsturen naar het id 'titlebalk' in de head/foot template
    document.getElementById("titlebalk").innerHTML = document.title;
</script>
</body>
</html>