<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Info</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main>
    <h1>Welkom!</h1>
    <article>
        <section>
            <h2>Wat is Fash?</h2>
            <p>
                Fash zal een website worden waar je je outfit op kan delen en andere outfits kan bekijken. Bovendien zal elke outfit links bevatten zodat je snel en gemakkelijk de kleren kan kopen die je mooi vindt!
            </p>
            <p>Dit idee is gemaakt door:</p>
            <lu>
                <li>Brittney De Maeyer</li>
                <li>Thomas De Smet</li>
                <li>Lauranne Vandeputte</li>
                <li>Myrthe Cleas</li>
            </lu>
        </section>
        <section>
            <h2>Wie zijn wij?</h2>
            <p>Wij zijn enkele studenten uit Thomas More die samen dit project aanpakken. Samen zullen we er iets mooi van maken!</p>
            <lu>
                <li>Brent Budts</li>
                <li>Matthew De Schepper</li>
                <li>Ibrahim El Moudden</li>
                <li>Elias Neel</li>
            </lu>
        </section>
    </article>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script th:replace="fragments/head_foot :: script"></script>
</body>
</html>