<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <title>Login</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<h1>Zijn u gegevens correct?</h1>
<p>Er is iets misgegaan waardoor wij u niet hebben kunnen laten inloggen.</p>
<p><a href="/login">Klik hier!</a> voor nogmaals te proberen.</p>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>