<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/posts.css}" href="/css/library.css"/>
    <title th:text="${post.getPoster()}">Info</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main>
    <article class="postDetails" th:if="${post}">
        <section class="sidePic border">
            <img th:src="@{/img/placeholderpic.jpg}">
            <h3 th:text="|Foto geplaatst in: ${post.getLocation()}|"></h3>
        </section>
        <section class="postInfo border">
            <h2 th:text="|${post.getPoster().getUsername()} is in ${post.getPoster().getLocation()}|"></h2>
            <p th:if="${post.getText()!=null}" th:text="${post.getText()}"></p>
            <p th:unless="${post.getText()!=null}">Deze post heeft geen tekst :(</p>
        </section>
        <section class="postitems border">
            <lu>
                <li th:each="item : ${post.getClothes()}">
                    <a class="btn" th:text="${item.getNaam()}"></a></li>
            </lu>
        </section>
    </article>
    <article class="postDetails" th:unless="${post}">
        <p>No post was chosen</p>
    </article>
    <article class="border">
        <section th:if="${loggedIn!=null}" class="border comment">
            <form class="border" style="float: left;">
                <input required="required" class="border" name="commentTitle" placeholder="Titel">
                <input required="required" class="border" type="text" name="commentText" placeholder="Jouw comment">
                <button type="submit" class="btn">Plaats comment!</button>
            </form>
            <div class="border" style="float: right">
                <div th:text="${post.getLikes()}"></div>
                <a th:href="@{|/likePost/${post.getId()}|}" class="btn">Mooi!</a>
            </div>
        </section>
        <section class="border comment" th:each="comment : ${comments}">
            <img th:src="">
            <a class="btn" th:text="${comment.getUser().getUsername()}"></a>
            <p th:text="${comment.getText()}"></p>
        </section>
    </article>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>