<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/profile.css}" href="/css/profile.css"/>
    <title>profilepage</title>
    <div th:insert="fragments/head_foot :: headfrag"></div>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main>
    <div>
        <div th:if="${user}">
            <a th:href="@{/postnew}">
                <input type="button" value="Nieuwe post!" class="btn-dark borderBtn nieuwpost" style="float: right">
            </a>
            <section class="hr-lines">
                <div th:if="${user.getProfilePic()}">
                    <img class="profilepic" th:src="|/u/image/${user.getId()}|" alt="image not found">
                </div>
                <div th:unless="${user.getProfilePic()}">
                    <i class="noprofilepic fa fa-fw fa-user fa-5x"></i>
                </div>
                <h2 th:text="${user.getUsername()}">username</h2>
                <!--om erachter te komen welke id deze gebruiker heeft-->
                <!--<h2 th:text="${user.getId()}">id</h2>-->
                <div class="buttonsdiv" th:if="${follow}">
                    <strong><a th:href="@{|/follow/${user.getId()}|}" th:text="${follow}"
                               class="followetcbtn followbtn"></a></strong>
                    <strong><a th:href="@{|/followerspage/${user.getId()}|}"
                               th:text="${user.aantalFollowers() + ' volgers'}"
                               class="followetcbtn followetcbtncolour"></a></strong>
                    <strong class="clothesbtn breed"><a th:href="@{|/clothing/${user.getId()}|}" th:text="clothes"
                                                        class="followetcbtn followetcbtncolour"></a></strong>
                </div>
                <div class="buttonsdiv" th:unless="${follow}">
                    <strong class="flex"><a th:href="@{|/followerspage/${user.getId()}|}"
                                            th:text="${user.aantalFollowing() + ' volgend'}"
                                            class="left followetcbtn"></a></strong>
                    <strong class="flex"><a th:href="@{|/followerspage/${user.getId()}|}"
                                            th:text="${user.aantalFollowers() + ' volgers'}"
                                            class="right followetcbtn"></a></strong>
                    <strong class="clothesbtn"><a th:href="@{|/clothing/${user.getId()}|}" th:text="clothes"
                                                  class="left followetcbtn"></a></strong>
                    <strong class="clothesbtn"><a th:href="@{|/messages|}" th:text="messages"
                                                  class="right followetcbtn"></a></strong>
                </div>
                <p>bio</p>
            </section>
            <section class="profileposts">
                <dl class="profileinfo">
                    <dt><span>clothing posted : </span></dt>
                    <dd><span th:text="${user.getPostsMade().size()}"></span></dd>
                </dl>
            </section>
            <div class="postCardDiv" th:each="post : ${user.getPostsMade()}">
                <a class="postCard" th:if="${post!=null}" th:href="@{|/postDetails/${post.getId()}}">
                    <section class="sectionclass">
                        <img class="exploreprofilepic" th:src="|/u/image/${user.getId()}|">
                        <h1 class="sectionrows" th:text="${user.getUsername()}"></h1>
                        <h3 class="sectionrows"><i class="fa fa-map-marker" th:text="${post.getLocation()}"></i></h3>
                        <article>
                            <img class="postpic" th:src="|/p/image/${post.getId()}|">
                        </article>
                        <strong><p class="sectionbioname" th:text="${user.getUsername()}"></p></strong>
                        <p class="sectionbiotext" th:text="${post.getText()}"></p>
                        <div class="commentsothers" th:if="${post.getOneComment()}">
                            <form method="get" th:action="@{|/profilepage/${post.getOneComment().getUser().getId()}|}">
                                <button class="linktoprofilepagebtn" type="submit">
                                    <div th:if="${post.getOneComment().getUser().getProfilePic()}">
                                        <img class="exploreprofilepic commentpic" th:src="|/u/image/${post.getOneComment().getUser().getId()}|">
                                    </div>
                                    <div th:unless="${post.getOneComment().getUser().getProfilePic()}">
                                        <i class="noprofilepic fa fa-fw fa-user"></i>
                                    </div>
                                    <strong><p class="sectionbioname" th:text="${post.getOneComment().getUser().getUsername()}"></p></strong>
                                </button>
                            </form>
                            <p class="sectionbiotext" th:text="${post.getOneComment().getText()}"></p>
                        </div>
                    </section>
                </a>
            </div>
        </div>
        <div th:unless="${user}">
            <p>No user was chosen</p>
            <p>Please login first</p>
            <form class="formbtn" method="get" th:action="@{|../../login}">
                <button type="submit" class="bttnExplore section">login</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
<script th:replace="fragments/head_foot :: script"></script>
</body>
</html>