<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/library.css}" href="/css/library.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/profile.css}" href="/css/profile.css"/>
    <title>Info</title>
</head>
<body>
<header th:replace="fragments/head_foot :: headerfrag"></header>
<main>
    <div>
        <div th:if="${user}">
            <section class="hr-lines">
                <div th:if="${user.photosImagePath}">
                    <img class="profilepic" th:src="${user.photosImagePath}" />
                </div>
                <div th:unless="${user.photosImagePath}">
                    <i class="noprofilepic fa fa-fw fa-user fa-5x"></i>
                </div>
                <h2 th:text="${user.getUsername()}">username</h2>
                <h2 th:text="${user.getId()}">id</h2>
                <h2 th:text="${user.aantalFollowers()}">aantalFollowers</h2>
                <strong><a th:href="@{|/follow/${user.getId()}|}" th:text="Following" class="followingbtn"></a></strong>
                <strong><a th:href="@{|/follow/${user.getId()}|}" th:text="Followers" class="followerbtn"></a></strong>
                <p>bio</p>
            </section>
            <section class="profileposts">
                <dl class="profileinfo">
                    <dt><span>clothing posted : </span></dt>
                    <dd><span th:text="${user.getPostsMade().size()}"></span></dd>
                </dl>
            </section>
        </div>
        <div th:unless="${user}">
            <p>No user was chosen</p>
        </div>
    </div>
</main>
<footer th:replace="fragments/head_foot :: footerfrag"></footer>
</body>
</html>